/* .newsify-page{
    display: flex;
} */

.promotion {
    background: #C7F2AB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0px;
}

.promotion-button {
    width: 77px;
    height: 30px;
    /* padding: 6px 23px 8px 23px; */
    color: white;
    border: none;
    border-radius: 16px;
    background: #1668E8;
}

.promotion-text-box {
    padding-left: 16px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    text-align: right;
}

.intro-page {
    display: flex;
    padding: 14px 140px 0px;
    flex-direction: column;
    align-items: center;
}

.newsify-navbar {
    display: flex;
    align-items: center;
}

.newsify-navbar-logo {
    color: #1668E8;
    font-family: Inter;
    font-size: 34px;
    font-weight: 600;
    line-height: 41.15px;
    text-align: right;

}

.navbar-pages {
    padding: 0px 0px 0px 270px;
    gap: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.search-box {
    padding: 14px 0px 0px 102px;
}

.search-box button {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 100px;
    border: 1px solid #CCCCCC;
    padding: 20px 115px 20px 13px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #707070;
}

.register-box {
    padding: 14px 0px 0px 9px;
}

.register-box button {
    color: white;
    border: none;
    border-radius: 50px;
    background-color: #1668E8;
    padding: 20px 47px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;

}

.intro-section {
    display: flex;
    align-items: center;
}

.newsletter-image {
    Width: 400px;
    Height: 450px;
    padding: 160px 2px 191px 0px;
}

.intro-text-box {
    padding: 180px 142px 218px 0px;
}

.greet-box {
    font-family: Aileron;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.intro-text-heading {
    font-family: Inter;
    font-size: 60px;
    font-weight: 600;
    line-height: 90px;
    letter-spacing: -0.02em;
    text-align: left;

}

.intro-sub-text {
    font-family: Inter;
    font-size: 22px;
    font-weight: 400;
    line-height: 34px;
    text-align: left;

}

.email-box {
    display: flex;
    align-items: center;
    padding-top: 20px;
    gap: 10px;
}

.email-box input {
    padding: 20px 47px;
    border-radius: 100px;
    border: 1px solid #CCCCCC;
}

.email-box button {
    color: white;
    border: none;
    border-radius: 50px;
    background: #1668E8;
    padding: 20px 47px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;

}

.brand-logo {
    padding: 50px 20px;
    display: flex;
    align-items: center;
    gap: 85px;
    background-color: #1668E8;
}

.newsify-feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 160px 334px 0px;
}

.newsify-feature-text-heading {
    font-family: Inter;
    font-size: 56px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: -0.02em;
    text-align: center;
}

.newsify-feature-text-subtext {
    padding: 25px 0px 54px 0px;
    font-family: Inter;
    font-size: 22px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
}

.more-about-newsify {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 185px 0px;
}

.more-about-newsify-text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.more-about-newsify-heading {
    font-family: Inter;
    font-size: 56px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: -0.02em;
    text-align: center;
}

.more-about-newsify-subtext {
    padding-top: 19px;
    font-family: Inter;
    font-size: 22px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
}

.overview {
    padding-top: 80px;
    display: flex;
    gap: 120px;
}

.overview-card {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.overview img {
    width: 500px;
    height: 400px;
}

.overview-text-box {
    display: flex;
    flex-direction: column;
    padding-top: 94px;
}

.overview-text-box-heading {
    display: flex;
    align-items: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 700;
    line-height: 50px;
}

.overview-text-box-subtext {
    display: flex;
    align-items: center;
    padding: 29px 0px 38px 0px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.overview-btn {
    border: none;
    width: 197px;
    height: 60px;
    border-radius: 50px;
    background-color: #1668E8;
    font-family: Aileron;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    color: white;
}
