.newsify-signup {
    padding: 0px 181px 160px;
}

.newsify-signup-card {
    gap: 30px;
    padding: 140px 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #C7F2AB;
    border-radius: 30px;
}

.newsify-signup-heading {
    font-family: Inter;
    font-size: 56px;
    font-weight: 700;
    line-height: 88px;
    letter-spacing: -0.02em;
    text-align: center;
    text-wrap: nowrap;
}

.newsify-signup-subtext {
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    text-wrap: nowrap;
}

.signup-details {
    width: 400px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    border-radius: 50px;
}

.signup-details input {
    border: none;
}

.signup-details input::placeholder {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #979797;
}

.trial-btn {
    padding: 10px 30px;
    border-radius: 50px;
    background-color: #1668E8;
    border: none;
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    color: white;
}